Q1. Variables containing different types of data:

In [1]:
# (i) string
string_var = "Hello, world!"

# (ii) list
list_var = [1, 2, 3, 4, 5]

# (iii) float
float_var = 3.14

# (iv) tuple
tuple_var = (1, 2, 3, 4, 5)

Q2. Data types of given variables:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [4]:

var1: "string"
var2: "string"
var3: list
var4: float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [5]:
result = 10 / 3
print(result)  # Output: 3.3333333333333335

remainder = 10 % 3
print(remainder)  # Output: 1

result = 10 // 3
print(result)  # Output: 3

result = 2 ** 3
print(result)  # Output: 8

3.3333333333333335
1
3
8

Q4. Creating a list of mixed data types and printing their types using a for loop:

In [8]:
l=[1,2,3,4,5,6,True,"sudh",5+4j,34.34]
for i in l :
    print(i)

1
2
3
4
5
6
True
sudh
(5+4j)
34.34

Q5. Verifying if A is divisible by B using a while loop:

In [9]:
A = 20
B = 5
count = 0

while A % B == 0:
    count += 1
    A /= B

print("A is divisible by B", count, "times")

A is divisible by B 1 times

Q6. Printing if elements of a list are divisible by 3 or not:

In [10]:
int_list = list(range(1, 26))

for num in int_list:
    if num % 3 == 0:
        print(num, "is divisible by 3")
    else:
        print(num, "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. Mutable and Immutable data types:

In [11]:
# Example of mutable data type
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)  # Output: [10, 2, 3]

[10, 2, 3]

In [12]:
# Example of immutable data type
my_tuple = (1, 2, 3)
# Trying to change the value will result in an error
# my_tuple[0] = 10  # TypeError: 'tuple' object does not support item assignment